In [1]:
import pandas as pd

In [2]:
users = pd.read_csv('takehome_users.csv',encoding='latin-1')

In [3]:
user_engagement = pd.read_csv('takehome_user_engagement.csv')

In [4]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

Defining an **adopted user** as a user who has logged into the product on three separate days in at least one sevenday period, identify which factors predict future user adoption.

In [5]:
user_engagement.time_stamp = pd.to_datetime(user_engagement.time_stamp)

In [6]:
user_engagement.time_stamp = user_engagement.time_stamp.apply(lambda x: x.strftime("%Y-%m-%d"))

In [7]:
user_engagement.time_stamp = pd.to_datetime(user_engagement.time_stamp)

In [8]:
user_engagement.head()

  time_stamp  user_id  visited
0 2014-04-22        1        1
1 2013-11-15        2        1
2 2013-11-29        2        1
3 2013-12-09        2        1
4 2013-12-25        2        1

In [9]:
user_engagement.set_index(['time_stamp'],inplace=True)

In [10]:
user_engagement.head()

            user_id  visited
time_stamp
2014-04-22        1        1
2013-11-15        2        1
2013-11-29        2        1
2013-12-09        2        1
2013-12-25        2        1

In [11]:
w = user_engagement.groupby(['user_id'])

In [12]:
weekly = w.resample("W").count()

In [14]:
users_weekly = weekly[weekly.visited >= 3]

In [16]:
users_weekly.sort_index(inplace=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
a = []
for i,j in users_weekly.index.values:
    a.append(i)

In [18]:
users_weekly.index.values

array([(2, Timestamp('2014-02-09 00:00:00')),
       (10, Timestamp('2013-03-03 00:00:00')),
       (10, Timestamp('2013-04-14 00:00:00')), ...,
       (11988, Timestamp('2014-05-18 00:00:00')),
       (11988, Timestamp('2014-05-25 00:00:00')),
       (11988, Timestamp('2014-06-01 00:00:00'))], dtype=object)

In [19]:
a = sorted(list(set(a)))

In [20]:
a[:10]

[2, 10, 20, 33, 42, 43, 53, 63, 69, 74]

In [21]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [22]:
users['adopted_user'] = users['object_id'].apply(lambda x: 1 if x in a else 0)

In [23]:
users.head(20)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,NaN,0
11,12,2014-04-17 23:48:38,Mathiesen Lærke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,NaN,0,0,130,9270.0,0
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0,0
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,NaN,0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,175,NaN,0
15,16,2013-02-11 10:09:50,Engel René,ReneEngel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,211,NaN,0
16,17,2014-04-09 14:39:38,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,1.397314e+09,1,0,175,1600.0,0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,NaN,0,0,2,3153.0,0
18,19,2013-05-24 14:56:36,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,1.369926e+09,1,0,0,NaN,0
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,NaN,1

In [24]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
adopted_user                  12000 non-null int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.0+ MB

In [25]:
users.last_session_creation_time = users.last_session_creation_time.fillna(users.last_session_creation_time.median())
users.invited_by_user_id = users.invited_by_user_id.fillna(0)

In [26]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    12000 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            12000 non-null float64
adopted_user                  12000 non-null int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.0+ MB

In [27]:
X = users.drop(columns=['creation_time','name','email','adopted_user','last_session_creation_time','object_id'])
y = users['adopted_user']

In [28]:
ohe = pd.get_dummies(X['creation_source'])

In [29]:
X = X.join(ohe)
X.drop(['creation_source'], axis=1, inplace=True)

In [30]:
X.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,GUEST_INVITE,ORG_INVITE,PERSONAL_PROJECTS,SIGNUP,SIGNUP_GOOGLE_AUTH
0,1,0,11,10803.0,1,0,0,0,0
1,0,0,1,316.0,0,1,0,0,0
2,0,0,94,1525.0,0,1,0,0,0
3,0,0,1,5151.0,1,0,0,0,0
4,0,0,193,5240.0,1,0,0,0,0

In [32]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: adopted_user, dtype: int64

In [33]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [34]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [35]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [36]:
X_train

array([[-0.57478426, -0.41556348,  0.0296663 , ..., -0.46511678,
        -0.45180576, -0.36572701],
       [ 1.73978322,  2.40637123,  1.33156793, ..., -0.46511678,
        -0.45180576, -0.36572701],
       [-0.57478426, -0.41556348, -1.07007669, ..., -0.46511678,
        -0.45180576, -0.36572701],
       ...,
       [-0.57478426, -0.41556348, -1.13476746, ..., -0.46511678,
        -0.45180576, -0.36572701],
       [-0.57478426, -0.41556348,  1.21027275, ...,  2.14999767,
        -0.45180576, -0.36572701],
       [ 1.73978322, -0.41556348,  1.380086  , ...,  2.14999767,
        -0.45180576, -0.36572701]])

In [37]:
cf = RandomForestClassifier(random_state=42)

parameters = {"n_estimators" : [75, 100, 150],
          "max_depth" : [5, 10, 15]}

grid_search = GridSearchCV(estimator=cf,param_grid=parameters,n_jobs=-1,scoring='accuracy',cv=3)

grid_search.fit(X_train,y_train)
y_pred = grid_search.predict(X_test)

accuracy = accuracy_score(y_pred,y_test)

print ('Best score is: ' + str(grid_search.best_score_))
print('Best params : ' + str(grid_search.best_params_))
print("Acuuracy of the tuned model: " + str(accuracy) )

Best score is: 0.8792857142857143
Best params : {'max_depth': 5, 'n_estimators': 75}
Acuuracy of the tuned model: 0.8802777777777778

In [38]:
cf = RandomForestClassifier()
cf.fit(X_train,y_train)

features = X.columns

for idx, val in enumerate(cf.feature_importances_):
    try:
        print("{:20}{:20f}".format(features[idx], val))
    except IndexError:
            continue

opted_in_to_mailing_list            0.012572
enabled_for_marketing_drip            0.014074
org_id                          0.613179
invited_by_user_id              0.340140
GUEST_INVITE                    0.004158
ORG_INVITE                      0.003401
PERSONAL_PROJECTS               0.006549
SIGNUP                          0.003285
SIGNUP_GOOGLE_AUTH              0.002642

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

The important factors classifying the adopted users are as follows: 
(1) Their Organization: Group of Users they belong to (2) invitation by another user

Hence, I would suggest Relax Inc to encourage formation of active groups and to distribute more user invitations.